
{% extends 'recipes/base.html' %}
{% load static %}

{% block title %}Recipe List{% endblock %}

{% block content %}
<h1 class="mb-4">Recipes</h1>
<form method="GET" action="{% url 'search_recipes' %}" class="form-inline mb-4">
    <input type="text" name="q" placeholder="Search for recipes..." class="form-control mr-2">
    <button type="submit" class="btn btn-custom" style="background-color: #007bff;">Search</button>
</form>

<div class="row">
    {% for recipe in recipes %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            {% if recipe.image %}
                <img class="card-img-top" src="{{ recipe.image.url }}" alt="{{ recipe.title}}" style="width: 300px; height: 300px;">
            {% else %}
                <img class="card-img-top" src="{% static 'recipes/default_image.jpg' %}" alt="Default image"  style="width: 300px; height: 300px;">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ recipe.title }}</h5>
                <div class="d-flex justify-content-between align-items-center">
                <a href="{% url 'recipe_detail' recipe.id %}" class="btn btn-primary" style="background-color: rgb(255, 149, 0, 0.907);">View Recipe</a>
                <form method="post" action="{% url 'save_recipe' recipe.id %}">
                    {% csrf_token %}
                    <!-- Additional form fields or submit button -->
                    <button type="submit" class="btn btn-success ml-2">Save</button>
                </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    
</form>
{% endblock %}